.task-container {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  .list-title {
    font-size: 22px;
    line-height: 28px;
  }
  .add-task-btn {
    background-color: #3556eb;
    color: #fff;
    font-weight: 700;
  }
}

.task-list {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background: white;
  border-radius: 4px;
}

::ng-deep {
  .task-list {
    &.cdk-drop-list-dragging {
      .task-card {
        &:not(.cdk-drag-placeholder) {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }
}
